# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/

# Installer logs, databases
pip-log.txt
*.sqlite3
*.db

# Flask instance folder
instance/

# Editor & OS
.vscode/
.idea/
.DS_Store

# Environment variables
.env

# Logs
*.log
